// Primary
$paleBlue: #e0e8ff;
$brightBlue: #3829e0;
$fontBlue: #717fa6;
$btnBlue: #382ae1;
$hoverPurple: #766cf1;

// Neutral
$veryPaleBlue: #f5f7ff;
$desaturateBlue: #7280a7;
$darkBlue: #1f2f56;
$babyBlue: #f7f9ff;
